/* HELA DOKUMENTET */
* {
    padding: 0;
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif; 
    border: 0;
    box-sizing:border-box;
}
 p{
    line-height: 1.5;
 }

img {
    width: 200px;
}
/* HEADER */
header {
    background-color: #7AA18D;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
    & img{
        width: 50px;
    }
    & span{
        color: #ffffff;
        font-weight: bold;
        font-size: 1.1rem;

    }
}
.header-nav {
    background-color: #EDECE7;
    color:#033A1E;
    
    & li{
        border: 0.5px solid #033A1E;
        padding: 10px 40px;
    }

    & ul {
        display: flex;
        flex-direction: column;
    }

    & a{
        color:#033A1E;
            text-decoration: none; 
    }
}
 /* DESKTOP VY NAV */
@media (min-width: 768px){
    header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    }
    .header-nav {
        background-color: #7AA18D;
        
        & ul {
            flex-direction: row;
            gap: 30px;
        }
        & li {
            list-style-type: none;
            border: 0;
            padding: 0;
        }
        & a{
            color: #ffffff;
            text-decoration: none;
        }
    }
}

/* HERO SECTION */
.hero-section{
    background-color: #7AA18D;
    color:#EDECE7;
    text-align: center;
    & .content{
        padding: 20px;
    }
    & img{
        width: 100%;
    }
    & h1{
        font-size: 1.4rem;
    }
    & p{
        margin: 10px 0;
    }
     & button{
            background-color: #033A1E;
            font-weight: bold;
            color: #EDECE7;
            padding: 10px 20px;
        }
}
/* INFO TEXT */
.info-text{
    background-color: #EDECE7;
    color:#033A1E;
    text-align: center;
    padding: 20px;
 
    & h2{
        font-size: 1.4rem;
    }
    & p{
        margin: 10px 0;
    }
}
/* PUFFAR */
.puffar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #7AA18D;
    text-align: center;
    padding: 20px;

    & article {
        background-color: #EDECE7;
    }

    & h2{
        color: #EDECE7;
        font-size: 1.4rem;
         text-align: center;
    }
& img{
width: 100%;
}
& .content{
    color: #033A1E;
    text-align: left;
    padding: 20px;

}
}
/* AVSLUTANDE SEKTION */
.visit {
    background-color: #EDECE7;
    color: #033A1E;
     text-align: center;
    padding: 30px;
 
    & h2{
        font-size: 1.4rem;
    }
    & p{
        margin: 10px 0;
    }
      & button{
            background-color: #033A1E;
            font-weight: bold;
            color: #EDECE7;
            padding: 10px 20px;
        }
}
/* FOOTER */
footer {
    background-color: #7AA18D;
    color: #ffffff;
    padding: 20px;


    & img{
        width: 70px;
        margin-bottom: 20px;
    }

    & .slogan {
        text-align: center;
    }

    & .links{
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
        margin-top: 30px;
        line-height: 1.6rem;

        & a{
            color: #ffffff;
        }

        & li {
            list-style-type: none;
        }
    }
}
