/* HELA DOKUMENTET */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.5;
}

/* HEADER */
header {
    background-color: #7AA18D;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.logo img {
    width: 50px;
}

.logo span {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
}

.header-nav {
    background-color: #EDECE7;
    color: #033A1E;
}

.header-nav li {
    border: 0.5px solid #033A1E;
    padding: 10px 40px;
}

.header-nav ul {
    display: flex;
    flex-direction: column;
}

.header-nav a {
    color: #033A1E;
    text-decoration: none;
}

/* HERO SECTION */
.hero-section {
    background-color: #7AA18D;
    color: #EDECE7;
    text-align: center;
}

.hero-section .hero-text {
    padding: 20px;
}

.hero-section img {
    width: 100%;
}

.hero-section h1 {
    font-size: 1.4rem;
}

.hero-section p {
    margin: 10px 0;
}

.hero-section button {
    background-color: #033A1E;
    font-weight: bold;
    color: #EDECE7;
    padding: 10px 20px;
}

/* INFO TEXT */
.info-text {
    background-color: #EDECE7;
    color: #033A1E;
    text-align: center;
    padding: 20px;
}

.info-text h2 {
    font-size: 1.4rem;
}

.info-text p {
    margin: 10px 0;
}

/* PUFFAR */
.puffar {
    background-color: #7AA18D;
    text-align: center;
    padding: 20px;
}

.puffar>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.puffar article {
    background-color: #EDECE7;
}

.puffar h2 {
    color: #EDECE7;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.puffar img {
    width: 100%;
}

.puffar .content {
    color: #033A1E;
    text-align: left;
    padding: 20px;
}

/* AVSLUTANDE SEKTION */
.visit {
    background-color: #EDECE7;
    color: #033A1E;
    text-align: center;
    padding: 30px;
}

.visit h2 {
    font-size: 1.4rem;
}

.visit p {
    margin: 10px 0;
}

.visit button {
    background-color: #033A1E;
    font-weight: bold;
    color: #EDECE7;
    padding: 10px 20px;
}

/* FOOTER */
footer {
    background-color: #7AA18D;
    color: #ffffff;
    padding: 20px;
}

footer img {
    width: 70px;
    margin-bottom: 20px;
}

footer .slogan {
    text-align: center;
}

footer .links {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    margin-top: 30px;
    line-height: 1.6rem;
}

footer a {
    color: #ffffff;
}

footer li {
    list-style-type: none;
}

/* DESKTOP VY */
@media (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
    }

    .header-nav {
        background-color: #7AA18D;
    }

    .header-nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .header-nav li {
        list-style-type: none;
        border: 0;
        padding: 0;
    }

    .header-nav a {
        color: #ffffff;
        text-decoration: none;
    }

    .hero-section {
        position: relative;
    }

    .hero-text {
        position: absolute;
        bottom: 20%;
        left: 5%;
        color: #ffffff;
        text-align: left;
        width: 400px;

    }

    .hero-text h1 {
        font-size: 1.8rem;

    }

    .hero-text p {
        font-size: 1.1rem;
    }

    .info-text {
        padding-inline: 300px;
    }

    .puffar>div {
        flex-direction: row;
        padding: 10px 40px;
        justify-content: space-evenly;
    }

    .puffar article {
        max-width: 250px;
    }

    .puffar img {
        width: 100%;
        max-width: 250px;
        height: 150px;
    }

    .visit {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-inline: 100px;
    }

    .visit>div {
        text-align: left;
    }

    .visit button {
        min-width: 200px;
        height: 50px;

    }

    footer {
        display: flex;
        justify-content: space-between;
        padding-inline: 80px;
    }

    footer img {
        width: 100px;
    }

    footer .slogan {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    footer .links {
        gap: 80px;
    }
}